.home {
  position: relative;
  padding: 20px;
  background-color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.paragraph {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  
  
  font-weight: bold;
  color: #ffcc00; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipe-list-container {
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.recipe-list .MuiListItem-root {
  padding: 8px 16px;
  border-bottom: 1px solid #555;
}

.recipe-list .MuiListItemText-primary {
  font-size: 18px;
  font-weight: bold;
}

.image-slider {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-slider img {
  width: 100%;
  height: auto;
  display: block;
}

.links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.cookie-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #f1f1f1;
  color: black; 
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
  z-index: 1000; 
}

.cookie-popup button {
  margin: 0 8px;
}

.cookie-popup p {
  margin-bottom: 16px;
  font-size: 14px;
}
