@import url('https://fonts.googleapis.com/css2?family=Jolly+Rogers&display=swap');


/* Home Screen Styles */
.home-screen {
  background-image: url('https://img.freepik.com/free-photo/flat-lay-journal-desk_23-2148210414.jpg?t=st=1721841861~exp=1721845461~hmac=0c9b79cb8a72d8e73a70b8950ef3a28ccc35df28111eda58571bd9dcf9a6a3f1&w=996');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  width: 1460px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  text-align: center;
}


.intro-text {
  font-family: 'Jolly Rogers', cursive;
  font-size: 64px;
  color: #c14322;
  animation: blink 20s step-start infinite, moveUp 300s ease-in-out infinite;
}


.description {
  font-size: 24px;
  margin-top: 20px;
  color: #c14322;
  animation: moveUp 220s ease-in-out infinite;
}


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}


.home-screen .button-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}


.home-screen button {
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.home-screen button:hover {
  background-color: #0056b3;
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .intro-text {
    font-size: 2.5rem;
  }


  .description {
    font-size: 1.5rem;
  }


  .home-screen button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }
}


@media (max-width: 768px) {
  .intro-text {
    font-size: 2rem;
  }


  .description {
    font-size: 1.25rem;
  }


  .home-screen button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}


@media (max-width: 480px) {
  .intro-text {
    font-size: 1.5rem;
  }


  .description {
    font-size: 1rem;
  }


  .home-screen button {
    padding: 0.5rem 0.75rem;
    font-size: 0.7rem;
  }
}
