@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Styles for the login screen */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}


.login-screen {
  position: absolute; /* Ensure it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: linear-gradient(135deg, #e3f988, #bdb76b);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


.login-screen::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  top: 0;
  left: 0;
  z-index: -1;
}


.login-screen::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 70%);
  opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}


.diary-text {
  font-family: 'Irish Grover', cursive;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ff6347;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}


input[type="text"],
input[type="password"] {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}


button {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}


.links {
  margin-top: 1rem;
  text-align: center;
}


.forgot-password-link,
.change-password-link {
  display: block;
  text-decoration: none;
  color: #007bff;
}


.forgot-password-link:hover,
.change-password-link:hover {
  text-decoration: underline;
}


button:hover {
  background-color: #0056b3;
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .diary-text {
    font-size: 2rem;
  }


  button {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}


@media (max-width: 768px) {
  .diary-text {
    font-size: 1.75rem;
  }


  button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}


@media (max-width: 480px) {
  .diary-text {
    font-size: 1.5rem;
  }


  button {
    padding: 0.5rem;
    font-size: 0.7rem;
  }
}
