.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 1460px; /* Set the width of the page to 1460 pixels */
  margin: 0 auto;
  background: linear-gradient(
    45deg, 
    #0906c1 25%, 
    #2b4d28 25%, 
    #2b4d28 50%, 
    #492745 50%, 
    #492745 75%, 
    #0906c1 75%, 
    #0906c1
  );
  background-size: 300% 300%; /* Adjust the size to create stripe effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.back-button {
  align-self: flex-start;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #d32f2f;
}

.profile-image-container {
  position: relative;
  margin-bottom: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #235E67;
}

.profile-image-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
}

.profile-details {
  width: 40%;
}

.profile-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-detail label {
  font-weight: bold;
  margin-right: 10px;
}

.profile-detail input {
  width: calc(100% - 100px);
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.save-button:hover {
  background-color: #45a049;
}
