/* change-password.css */

.change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  padding: 20px; /* Add padding to ensure content is not flush with the edges */
}

.change-password h2 {
  margin-bottom: 20px;
  color: #333;
}

.change-password form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Max width to ensure it doesn't grow too large */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.change-password input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.change-password button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.change-password button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Media queries for responsiveness */

/* Tablets and below */
@media (max-width: 768px) {
  .change-password form {
    width: 90%; /* Adjust width for smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .change-password h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  .change-password input, .change-password button {
    padding: 8px; /* Adjust padding for inputs and button */
  }
}

/* Phones and below */
@media (max-width: 480px) {
  .change-password form {
    width: 90%; /* Adjust width for smaller screens */
  }

  .change-password h2 {
    font-size: 1.3em; /* Adjust font size for smaller screens */
  }

  .change-password input, .change-password button {
    padding: 8px; /* Adjust padding for inputs and button */
    margin: 8px 0; /* Adjust margin for inputs and button */
  }
}

/* Small phones */
@media (max-width: 340px) {
  .change-password form {
    width: 95%; /* Adjust width for very small screens */
    padding: 10px; /* Adjust padding for very small screens */
  }

  .change-password h2 {
    font-size: 1.2em; /* Adjust font size for very small screens */
  }

  .change-password input, .change-password button {
    padding: 6px; /* Adjust padding for inputs and button */
    margin: 6px 0; /* Adjust margin for inputs and button */
  }
}
